.button {
    -fx-border-width: 5px;
    -fx-border-radius: 50px;
    -fx-border-color: #a5a5a5;
    -fx-background-color: #c4c4c4;
    -fx-background-radius: 50;

    -fx-font-family: "GOST type A";
    -fx-font-size: 36;
}