.logo {
    -fx-background-image: url("icons/logo.png");
}

.exitIcon {
    -fx-background-image: url("icons/exitButton.png");
}

.exitButtonText {
    -fx-background-color:transparent;
    -fx-font-family: "Arial";
    -fx-font-size: 36;
    -fx-text-fill: black;
}

.exitButton:hover {
    -fx-background-color: #c4c4c4;
}

.newUserIcon {
    -fx-background-image: url("icons/newUser.png");
}

.newUserButtonText {
    -fx-background-color:transparent;
    -fx-font-family: "Arial";
    -fx-font-size: 24;
    -fx-text-fill: black;
}

.newUserButton:hover {
    -fx-background-color: #c4c4c4;
}

.newUserButton {
    -fx-background-color: #7a7a7a;
}

.newUserButton1 {
    -fx-background-color: #ffffff;
}

.newUserButton1:hover {
    -fx-background-color: #ffffff;
}

.userControlIcon {
    -fx-background-image: url("icons/userControl.png");
}

.userControlButtonText {
    -fx-background-color:transparent;
    -fx-font-family: "Arial";
    -fx-font-size: 24;
    -fx-text-fill: black;
}

.userControl:hover {
    -fx-background-color: #c4c4c4;
}

.userControl {
    -fx-background-color: #7a7a7a;
}

.userControl1 {
    -fx-background-color: #ffffff;
}

.userControl1:hover {
    -fx-background-color: #ffffff;
}

.groupControlIcon {
    -fx-background-image: url("icons/groupControl.png");
}

.groupControlButtonText {
    -fx-background-color:transparent;
    -fx-font-family: "Arial";
    -fx-font-size: 24;
    -fx-text-fill: black;
}

.groupControl:hover {
    -fx-background-color: #c4c4c4;
}

.groupControl {
    -fx-background-color: #7a7a7a;
}

.groupControl1 {
    -fx-background-color: #ffffff;
}

.groupControl1:hover {
    -fx-background-color: #ffffff;
}

.imageStart {
    -fx-background-image: url("icons/imageStart.png");
}

.choicePane {
    -fx-background-color: #c4c4c4;
    -fx-border-radius: 10;
    -fx-background-radius: 100;
}

.prepodChoice {
    -fx-background-color: #c4c4c4;
    -fx-border-radius: 10;
    -fx-background-radius: 100;
    -fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-text-fill: black;
}

.prepodChoice:hover {
    -fx-background-color: #828282;
    -fx-text-fill: white;
}

.studentChoice {
    -fx-background-color: #c4c4c4;
    -fx-border-radius: 10;
    -fx-background-radius: 100;
    -fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-text-fill: black;
}

.studentChoice:hover {
    -fx-background-color: #828282;
    -fx-text-fill: white;
}

.studentChoice1 {
    -fx-background-color: #828282;
    -fx-border-radius: 10;
    -fx-background-radius: 100;
    -fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.prepodChoice1 {
    -fx-background-color: #828282;
    -fx-border-radius: 10;
    -fx-background-radius: 100;
    -fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-text-fill: white;
}